body {
  background-color: #f0f2f5;
  font-family: "Oswald";
}

#titleContainer {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

#title {
  letter-spacing: 1px;
}

#graphContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#graphArea {
  height: 60vh;
  width: 80vw;
}

#tickers {
  margin-top: 2vh;
}

#tickerSearch {
  display: flex;
  justify-content: center;
  margin-top: -12vh;
  margin-bottom: 2vh;
}

#tickerSearch input {
  width: 15rem;
  height: 2.5rem;
  margin-right: 1vw;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Oswald", "Arial Narrow", Arial, sans-serif;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #f0f2f5;
}

input:focus {
  outline: none;
}

#tickerSearch button {
  background-color: transparent;
  border: none;
  color: grey;
  transform: scale(1.25);
}

#tickerSearch button:hover {
  transform: scale(1.5);
}

#tickersContainer {
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
}

#tickerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 0 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#tickerContainer:hover {
  background-color: rgba(61, 59, 59, 0.2);
}

#tickerContainer button {
  border: none;
  font-weight: bold;
  background-color: transparent;
}

#tickerContainer button:hover {
  color: red;
}
